[submodule "lib/RF24"]
	path = lib/RF24
	url = https://github.com/earlephilhower/RF24.git
[submodule "lib/arduinocrypto"]
	path = lib/arduinocrypto
	url = https://github.com/earlephilhower/arduinocrypto.git
